/*Google font*/
@import url("https://fonts.googleapis.com/css?family=Raleway");

.create {
  max-width: 30em;
  margin: 4em auto;
  position: relative;
  background: #f4f4f4;
  padding: 2em 3em;
  overflow: hidden;
}
h1 {
  font-family: "Raleway";
  color: #f97300;
}
.input-group-text {
  background: #f97300;
  border-radius: 50%;
  width: 4em;
  height: 3em;
  padding: 15px 14px;
  color: #fff;
  position: absolute;
  right: 6px;
  top: 108px;
  cursor: pointer;
}
.input-group-text i {
  font-size: 2em;
}
.add-btn {
  top: 8px;
  position: relative;
}
